/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
}

body {
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}